* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}
#container-random-num {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cont-attemp {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
    margin-bottom: 15px;
}

.random-num {
    background-color: darkcyan;
    width: 70px;
    height: 70px;
    font-size: 40px;
    color: white;
    vertical-align: middle;
}